
<header class="header" id="header">
    <nav class="navbar" id="navbar">
        <a href="{{ path('home') }}" class="{% if app.request.get('_route') == 'home' %}link-active{% endif %}">Accueil</a>

        <a href="{{ path('games') }}" class="{% if app.request.get('_route') == 'games' %}link-active{% endif %}">Games</a>

        {% if app.user %}
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <a href="{{ path('admin') }}">Admin</a>
            {% endif %}
            <a href="{{ path('logout') }}">Déconnexion</a>
        {% else %}
            <a href="#" id="modal-link-login">Connexion</a>
            <a href="#" id="modal-link-register">Inscription</a>
        {% endif %}


        <div class="menu-svg">
            <div class="menu1">
                <svg><use href="img/sprite.svg#list"></use></svg>
            </div>
            <div class="menu2">
                <svg id="svg-exit"><use href="img/sprite.svg#exit"></use></svg>
            </div>
        </div>

        <div class="menu-deroulant">
            <a href="{{ path('home') }}">Accueil</a>
            <a href="{{ path('games') }}">Games</a>
            {% if app.user %}
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a href="{{ path('admin') }}">Admin</a>
                {% endif %}
                <a href="{{ path('logout') }}">Déconnexion</a>
            {% else %}
                <a href="" id="modal-link-login">Connexion</a>
                <a href="" id="modal-link-register">Inscription</a>
            {% endif %}
        </div>

    </nav>
</header>


{% if error is defined and error is not same as null %}
    <div id="my-modal-login">
        {% include 'partials/_my_modal_login.html.twig' %}
    </div>
{% else %}
    <div id="my-modal-login" style="opacity: 0; display: none">
        {% include 'partials/_my_modal_login.html.twig' %}
    </div>
{% endif %}

{% if app.flashes('register-error') is empty %}
    <div id="my-modal-register" style="opacity: 0; display: none">
        {% include 'partials/_my_modal_register.html.twig' %}
    </div>
{% else %}
    <div id="my-modal-register">
        {% include 'partials/_my_modal_register.html.twig' %}
    </div>
{% endif %}