<div class="container-container-list-games">

<div class="container-list-games">

    <a href="{{ path('youtube.category', { category: 'Conscience' }) }}" class="{% if app.request.get('category') == 'Conscience' %}link-active{% endif %}">Conscience</a>


    <a href="{{ path('youtube.category', { category: 'Réflexion' }) }}" class="{% if app.request.get('category') == 'Réflexion' %}link-active{% endif %}">Réflexion</a>

    <a href="{{ path('youtube.category', { category: 'Humour' }) }}" class="{% if app.request.get('category') == 'Humour' %}link-active{% endif %}">Humour</a>

    <a href="{{ path('youtube.category', { category: 'Musique' }) }}" class="{% if app.request.get('category') == 'Musique' %}link-active{% endif %}">Musique</a>

    <a href="{{ path('youtube.category', { category: 'Divers' }) }}" class="{% if app.request.get('category') == 'Divers' %}link-active{% endif %}">Divers</a>
</div>
</div>
