{% for flash_error in app.flashes('errors') %}
    <div class="flash-errors" role="alert">
        {{ flash_error }}
        {{ form_errors(registrationForm) }}
    </div>
{% endfor %}

<div class="form-container">
    <button id="close-modal" style="position: absolute; top: 10px; right: 10px; cursor: pointer; background-color: darkred; color: whitesmoke; font-weight: bold; border-radius: 6px">X</button>

    <h3 style="text-align: center; padding-top: 10px; margin-bottom: 20px">Inscription</h3>

    {{ form_start(registrationForm) }}
    <div class="form-labels">
        {{ form_label(registrationForm.username) }}
    </div>
    <div class="form-fields">
        {{ form_widget(registrationForm.username) }}
    </div>
    <div class="form-errors">
        {{form_errors(registrationForm.username) }}
    </div>

    <div class="form-labels">
        {{ form_label(registrationForm.email) }}
    </div>
    <div class="form-fields">
        {{ form_widget(registrationForm.email) }}
    </div>
    <div class="form-errors">
        {{form_errors(registrationForm.email) }}
    </div>

    <div class="form-labels">
        {{ form_label(registrationForm.plainPassword) }}
    </div>
    <div class="form-fields">
        {{ form_widget(registrationForm.plainPassword) }}
    </div>
    <div class="form-errors">
        {{form_errors(registrationForm.plainPassword) }}
    </div>

    <div class="form-labels">
        {{ form_row(registrationForm.agreeTerms) }}
    </div>

    <button type="submit" class="btn-submit">Inscription</button>
    {{ form_end(registrationForm) }}
</div>
