<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <title>{% block title %}{{ title }}{% endblock %}</title>


        <link rel="stylesheet" href="css/base.css">
        {% block stylesheets %}{% endblock %}


        <script src="js/home.js" type="module" defer></script>
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        {% include 'partials/_header.html.twig' %}

        {% block h1 %}<h1>{{ h1 }}</h1>{% endblock %}

        {% for message in app.flashes('success') %}
            <div style="color: green" class="flash-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('info') %}
            <div style="color: darkorange" class="flash-infos">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div style="color: red" class="flash-errors">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}

        {% include 'partials/_footer.html.twig' %}
    </body>
</html>
